<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<p>Current Active Sessions: 
</p>

<p><% sessionData.forEach(sessionData => { %>
    <% const sid = sessionData.sessionID %>
    <% const userID = sessionData.userID %> 
    SessionID: <%= sid %></p>
<p>UserID: <%= userID %> </p>
<form action="/destroy/<%= sid %>" method="GET">
    <button type="submit" name="<%= sid %>">Revoke sessions</button>
<hr>
</form>
<% }) %>
